Vlastelin/testClient/Service References/ServiceReference1/VlastelinServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VlastelinServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VlastelinServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="seatLockKey">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="seatNum" type="xs:long" />
      <xs:element minOccurs="0" name="ssId" type="xs:long" />
      <xs:element minOccurs="0" name="tpId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="seatLockKey" nillable="true" type="tns:seatLockKey" />
</xs:schema>