Vlastelin/VlastelinClient/Service References/ServiceReference1/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Vlastelin.Data.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTupleOfSeatdoublestringfbgMpmQI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfSeatdoublestringfbgMpmQI" nillable="true" type="tns:TupleOfSeatdoublestringfbgMpmQI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfSeatdoublestringfbgMpmQI" nillable="true" type="tns:ArrayOfTupleOfSeatdoublestringfbgMpmQI" />
  <xs:complexType name="TupleOfSeatdoublestringfbgMpmQI">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Seat" Namespace="http://schemas.datacontract.org/2004/07/Vlastelin.Data.Model" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Vlastelin.Data.Model" name="m_Item1" nillable="true" type="q1:Seat" />
      <xs:element name="m_Item2" type="xs:double" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfSeatdoublestringfbgMpmQI" nillable="true" type="tns:TupleOfSeatdoublestringfbgMpmQI" />
  <xs:complexType name="TupleOfdurationlong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="duration" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:duration" />
      <xs:element name="m_Item2" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdurationlong" nillable="true" type="tns:TupleOfdurationlong" />
</xs:schema>